.imagesURLbox {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #0045c7;
}

.table-wrapper {
  max-height: 500px;
  overflow-y: scroll;
}

.wine-description {
  width: 300px;
}

th {
  position: sticky;
  top: 0px;
}

.adminSearchBtn {
  border-radius: 5px;
  border: 1px solid black;
}