<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styleCheckout.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
  <div id="app">    
        <header>
            <nav class="navbar navbar-expand-lg bg-body-1 d-flex justify-content-center">
                 <div class="d-flex justify-content-center align-items-center">
                    <img class=" style-logo rounded-circle" src="../images/1234.png" alt="logo" height="85rem">
                </div>        
            </nav>
        </header>             
        <main>
          {{updateSubtotal}}
            <section class="h-100 h-custom">
                <div class="container h-100 py-5">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
              
                      <div class="table-responsive tableScroll mb-3">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col" class="h5">Shopping Cart</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Price</th>
                            </tr>
                          </thead>
                          <tbody class="tableScroll">                            
                            <tr v-for="product in cart">
                                <th scope="row" class="border-bottom-0">
                                  <div class="d-flex align-items-center">
                                    <img :src="product.imgURL[0]" class="img-fluid rounded-3 cartImg"
                                      style="width: 120px;" :alt="product.name">
                                    <div class="flex-column ms-4">
                                      <p class="mb-2">{{product.name}}</p>
                                    </div>
                                  </div>
                                </th>
                                <td class="align-middle border-bottom-0">
                                  <div class="d-flex flex-row">
                                    <button class="btn btn-link px-2"
                                      @click="substractOneWine(product)">
                                      <i class="bi bi-dash-circle"></i>
                                    </button>
                
                                    <input id="form1" min="0" name="quantity" :value="product.amount" type="number"
                                      class="form-control form-control-sm" style="width: 50px;" readonly/>
                
                                    <button v-if="product.stock >= product.amount" class="btn btn-link px-2"
                                      @click="addMoreWinesToCart(product)">
                                      <i class="bi bi-plus-circle"></i>
                                    </button>
                                    <button v-else class="btn btn-link px-2">
                                      <i class="bi bi-plus-circle text-danger"></i>
                                    </button>
                                  </div>
                                </td>
                                <td class="align-middle border-bottom-0">
                                  <p class="mb-0" style="font-weight: 500;">${{product.subTotal.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</p>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
              
                      <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                        <div class="card-body p-4">
                          <div class="row">
                            <div class="col-md-6 col-lg-4 col-xl-6">
                                <div class="col-12 col-xl-6 pt-5">
                                  <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" class="form-control form-control-lg" siez="17"
                                      placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" v-model="cardNumber"/>
                                    <label class="form-label">Card Number</label>
                                  </div>
              
                                  <div class="form-outline mb-4 mb-xl-5">
                                    <input type="password" class="form-control form-control-lg"
                                      placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" v-model="cvv"/>
                                    <label class="form-label">CVV</label>
                                  </div>

                                  <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" class="form-control form-control-lg" v-model="deliveryAddress"/>
                                    <label class="form-label">Delivery Address</label>
                                  </div>
                                </div>         
                            </div>
                            <div class="col-lg-4 col-xl-3">
                              <div class="d-flex justify-content-between" style="font-weight: 500;">
                                <p class="mb-2">Subtotal</p>
                                <p class="mb-2">${{checkoutSubtotal.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</p>
                              </div>
                              
                              <div class="d-flex justify-content-between" style="font-weight: 500;">
                                <p class="mb-0">Shipping</p>
                                <p class="mb-0">$2.99</p>
                              </div>
              
                              <hr class="my-4">
              
                              <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                                <p class="mb-2">Total (tax included)</p>
                                <p class="mb-2">${{(checkoutSubtotal + 2.99).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</p>
                              </div>
              
                              <button type="button" class="btn btn-primary btn-block btn-lg" @click="createPurchase">
                                <div class="d-flex justify-content-between">
                                  <span>Checkout ${{(checkoutSubtotal + 2.99).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</span>
                                </div>
                              </button>
              
                            </div>
                          </div>
              
                        </div>
                      </div>
              
                    </div>
                  </div>
                </div>
              </section>


        </main>        
                  
                
    </div>              
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/checkout.js"></script>

</html>